{% extends 'base.html' %}
{% block start %}

<div class="container mt-5">
  <span class="col-6 mx-auto my-2 card p-3 shadow-lg"><h2>Update Recipe</h2></span>
  <form class="col-6 mx-auto my-2 card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="Recipe_name" class="form-label">Recipe Name</label>
        <input type="text" value="{{recipe.name}}" required class="form-control" name="name">
      </div>
      <div class="mb-3">
        <label for="recipeDescription" class="form-label">Recipe Description</label>
        <textarea class="form-control" required name="description">{{recipe.description}}</textarea>
      </div>
      <div class="mb-3">
          <label for="Recipe_name" class="form-label">Recipe Image</label>
          <input type="file" value="{{recipe.image}}" class="form-control" name="image">
        </div>
      <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

{% endblock %}